body{
    margin: 0%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.conteinerCadastro {
    display: flex;
    width: 100%;
    height: 100vh;
}
.colunaEsquerda {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
}
.caixaCadastro {
    background-color: #7e7e7e;
    border-radius: 10px;
    width: 50%;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 0 100px black;
}
.caixaCadastro h1 {
    font-size: 45px;
    margin-top: 0%;
    color: white;
}
.caixaCadastro h2 {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 5px;
    color: white;
}
.caixaCadastro input {
    width: 99%;
    margin-right: 50px;
    padding: 10px 0px 10px 0px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    font-size: 15px;
    padding-left: 5px;
}
.caixaCadastro button { 
    margin-top: 25px;
    width: 100%;
    padding: 15px 0px 15px 0px;
    border: none;
    border-radius: 5px;
    background-color: #272626;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.caixaCadastro button:hover {
    background-color: #1c1c1c;
}
.colunaDireita {
    width: 50%;
   
}
.colunaDireita img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}