body {
    margin: 0;
    background-color: #000;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7e7e7e;
    padding: 15px 40px;
}

.navbar .logo {
    width: 140px;
    height: auto;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 25px;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: 0.2s;
}

.navbar ul li a:hover,
.link_ativ {
    color: #FFD700;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 50px;
    margin-top: 30px;
    justify-items: center;
}

.card {
    background: #7e7e7e;
    width: 330px;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    color: white;

}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    color: #FFD700;
    margin: 15px 0 10px;
    font-size: 18px;
    font-weight: 900;
}

.card p {
    padding: 0 15px 20px;
    font-size: 14px;
    line-height: 1.4;
}