body {
    margin: 0%;
    background-color: black;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img {
    width: 20%;
}

barraAmarela {
    width: 100%;
    height: 10px;
    background-color: #FFD700;
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    color: white;
    font-size: 60px;
    margin-bottom: 30px;
    margin-top: 10%;
    margin-left: 8%;
    text-align: center;
    display: flex;
    justify-content: left;
}

.box {
    width: 500px;
    height: 300px;
    background-color: #7e7e7e;
    border-radius: 20px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    margin-left: 25%;
}

.box h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 0px;
    text-align: center;
}

.box h2 {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 5px;
    color: white;
}
.box input {
    width: 99%;
    margin-right: 50px;
    padding: 10px 0px 10px 0px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
    font-size: 15px;
    padding-left: 5px;
}

.box button { 
    margin-top: 25px;
    width: 100%;
    padding: 15px 0px 15px 0px;
    border: none;
    border-radius: 10px;
    background-color: #272626;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.box button:hover {
    background-color: #1c1c1c;
}